body {
  width: 100%;
  margin: 0;
  padding: 0; }
  body a {
    color: #F5F5F5; }

h1, h2 {
  font-family: "Indie Flower", cursive; }

.row {
  width: 100%;
  margin: 0; }

a:hover {
  text-decoration: none; }

.white-text {
  color: #F5F5F5; }

.parallax-container {
  /* The image used */
  background-image: url(../assets/headerimg.jpeg);
  /* Set a specific height */
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.corporate-header {
  background-image: url(../assets/header-images/corporate-big.jpg);
  height: 300px; }

.fundraisers-header {
  background-image: url(../assets/header-images/fundraisers-big.jpg);
  height: 300px; }

.personalised-events-header {
  background-image: url(../assets/header-images/personal-big.jpg);
  height: 300px; }

.wedding-header {
  background-image: url(../assets/header-images/weddings-big.jpg);
  height: 300px; }

.parallax-header {
  font-size: 5rem;
  font-weight: 700;
  color: #F5F5F5;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 100px; }

.header-logo-row {
  height: 500px; }

.header-logo {
  filter: drop-shadow(3px 3px 5px #222);
  transform: rotate(-5deg);
  padding: 70px;
  padding-top: 50px;
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto; }

.container-dark {
  background-color: #343A40;
  width: 100%;
  height: auto; }

.container-light {
  background-color: #F5F5F5;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 50px 0; }

.what-is-a-seedpod {
  background-image: url(../assets/whatisaseedpodbg.jpg);
  padding: 50px 0; }

.review-section {
  background-image: url(../assets/whatisaseedpodbg.jpg);
  background-position: center bottom; }

.revenue-body {
  padding: 0; }

.flex-parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.flex-child-2 {
  align-self: center;
  display: block;
  flex: 3;
  padding: 0 50px; }

.flex-child-1 {
  flex: 2; }

.footer-social-flexp {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.flex-copy-wrap {
  display: flex;
  min-width: 100%;
  align-items: center baseline; }
  .flex-copy-wrap .copyright-credit {
    flex: 1;
    margin-bottom: 10px; }

.navbar-collapse {
  justify-content: flex-end; }

#navbarNav .nav-link {
  color: #F5F5F5;
  margin-right: 20px;
  transition: 0.2s ease-in-out; }
  #navbarNav .nav-link:hover {
    transform: scale(1.03);
    color: #00a651; }

.nav-logo {
  height: 40px;
  padding-bottom: 5px; }

.wrapper {
  margin: auto; }

.goodwill-content {
  color: #F5F5F5;
  text-align: center;
  padding: 40px 0;
  font-family: "Indie Flower", cursive;
  font-weight: bold; }

.transparent {
  background-color: #343A40;
  opacity: 0.95; }

.img-styling {
  width: auto;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }

.center-img {
  text-align: center; }

.variety-img {
  width: auto;
  height: 200px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75); }

.seedpod-info-header {
  font-weight: bolder; }

.seedpod-blurb ul {
  font-size: 1.2rem; }

.seed-type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 60px; }

.seed-pic-left {
  flex: 2;
  order: 1; }

.seed-blurb-right {
  flex: 3;
  align-self: center;
  order: 1; }

.seed-pic-right {
  flex: 2;
  order: 2; }

.seed-blurb-left {
  flex: 3;
  order: 1;
  padding-left: 70px; }

.variety-img {
  transition: 0.2s ease-in-out; }
  .variety-img:hover {
    cursor: pointer;
    transform: scale(1.05); }

.flex-link-parent {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.corporate {
  background-image: url(../assets/corporate.jpg); }

.wedding {
  background-image: url(../assets/wedding.jpg); }

.fundraisers {
  background-image: url(../assets/fundraiser.jpg); }

.personalised-events {
  background-image: url(../assets/personalised-events.jpg); }

.darken-link {
  display: flex;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%; }

.link-title {
  align-self: center;
  text-align: center;
  width: 100%;
  color: #F5F5F5;
  font-weight: 700;
  font-size: 1.2rem;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

.links-item {
  flex: 1;
  height: 200px;
  font-family: "Indie Flower", cursive; }
  .links-item:hover .link-title {
    color: #00a651;
    transform: scale(1.07);
    cursor: pointer; }

.left-half-links,
.right-half-links {
  margin: auto;
  flex: 1;
  display: flex;
  min-width: 350px;
  width: 100%;
  max-width: 648px; }

.review-item {
  min-height: 350px;
  text-align: center;
  padding: 80px 120px; }
  .review-item h2 {
    color: #343A40;
    padding-bottom: 40px; }
  .review-item small {
    font-size: 1rem; }

.checked {
  color: orange; }

.footer-parent {
  width: 100%;
  height: auto;
  max-height: 493px;
  background-image: url(../assets/footer-backg.jpg);
  background-position: center bottom; }
  .footer-parent a {
    color: #F5F5F5;
    transition: 0.1s ease-in-out; }
    .footer-parent a:hover {
      color: #00a651;
      transform: scale(1.03); }

.footer-content {
  padding: 30px;
  padding-bottom: 80px; }

.footer-contact,
.footer-logo,
.footer-links {
  flex: 1; }

.social-icon {
  padding: 0 10px 10px 0; }

.footer-logo {
  text-align: center; }
  .footer-logo img {
    height: 100px;
    width: auto; }

.phone-number-and-email {
  color: #F5F5F5; }

.footer-links-ul {
  text-align: right;
  font-size: 1.2rem;
  list-style: none;
  padding: 0; }

.copyright-credit {
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 5px; }
  .copyright-credit a {
    color: #6C757D; }

.contact-header {
  text-align: center;
  font-family: "Indie Flower", cursive;
  margin-bottom: 40px; }

.contact-form {
  padding-bottom: 40px; }

.form-submit-btn {
  margin-top: 20px;
  float: right; }

.thank-you-wrapper {
  text-align: center;
  margin: 100px 50px; }
  .thank-you-wrapper h2 {
    margin-bottom: 50px; }

/*# sourceMappingURL=app.css.map */
