@media (max-width: 1104px){
  .parallax-container {
    background-attachment: scroll;
  }
  .flex-parent{
    flex-direction: column;
  }
  .flex-child-2{
    padding-top: 50px;
  }

  .seed-pic-right,
  .seed-blurb-left {
    order: 1;
    padding: 0;
  }

  .seed-pic-left,
  .seed-pic-right{
    margin-bottom: 50px;
  }

  .seed-blurb-left,
  .seed-blurb-right{
    text-align: center;
  }


  .footer-content{
    padding-bottom: 30px;
  }

  .footer-logo{
    order: 1;
    margin-bottom: 40px;
  }

  .footer-logo-img{
    padding: 10px;
  }

  .footer-contact{
    padding-bottom: 30px;
  }

  .footer-links,
  .footer-contact{
    order: 2;
    text-align: center;

  }

  .footer-links ul,
  .footer-social-flexp{
    text-align: center;
    justify-content: center;
  }

  .footer-social-flexp .social-icon{
    padding: 5px;
  }

}

@media (max-width: 600px){
  .review-item h2{
    font-size: 1.3rem;
  }

}
