//to declare variabe in SASS, use $variableName: variableValue//
$brand-dark:          #333333
$brand-light:         #F5F5F5
$brand-brown:         #ffffff
$brand-green:         #00a651

// FONTS
$main-font:           'Indie Flower', cursive
