AddHandler application/x-httpd-php72 .php .php5 .php4 .php3
AddHandler application/x-httpd-php56 .php .htm .html

RewriteEngine on


RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

RewriteCond %{THE_REQUEST} /([^.]+)index\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}index.html -f
RewriteRule ^ %{REQUEST_URI}index.html [NC,L]
